{% extends 'base.html.twig' %}

{% block body %}

    {{ react_component('Recipe') }}

{#    <div class="jumbotron text-center">
        <div class="container">
            <h1>Agence lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto, at, delectus est eum excepturi, fuga fugit in officiis quas quo tenetur! Adipisci deserunt dolorum excepturi nesciunt repellat, sit sunt!</p>
        </div>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.surface }} m2 - {{ property.city }} ({{ property.postalCode }})</p>
                        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }} $</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>#}
{% endblock %}
